.app-container {
	min-height: 100vh;
	background-color: var(--qbase-bg);
}

.mobile-layout-container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 18px;
	min-height: 100vh;
	position: relative;
	background-color: var(--qbase-bg);
	z-index: 11;
}

@media (max-width: 800px) {
	.mobile-layout-container {
		padding-top: 0;
	}
}